.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
  margin: 0 auto;
}

.gallery-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img:hover {
  filter: brightness(1) grayscale(0);
  transition: all 0.8s;
  scale: 1.06;
  opacity: 1;
  /*   opacity: 1;
  filter: brightness(0.8) grayscale(0);
  transition: all 0.8s;
  scale: 1.06; */
}
